body {
    text-align: center;
}
p{
    color: green;
    margin-right: 40%;
    margin-left: 40%;
}
#score{
    color: red;
    background: yellow;
    margin-right: 48%;
    margin-left: 48%;
    font-size: 40px;
    
    
}